page-login {
    
        .logo {
            text-align: center;
    
            img {
                max-height: 15em;
                margin-bottom: 3em;
                margin-top: 5em;
            }
        }
    
        .list {
            margin-bottom: 0;
        }
    
        .background {
            // background: url(../assets/img/loginbackground.jpg);
            // background: color($colors, primary);
            background: #222;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            // background-size: cover;
            background-size: auto auto;
            
            display: flex!important;
            align-content: center!important;
            align-items: center!important;
        }
    
        .item, .label, .input-wrapper {
            background: transparent;
            color: color($colors, light);
        }
    
        .mxgs-control-input::placeholder{
            color: #BDBDBD;
        }
    
        .mxgs-control-input {
            height: 3em;
            width: 100%;
            border:none;
            background-image:none;
            background-color:transparent;
            box-shadow: none;
    
            // background: color($colors, darkprimary);
            background-color: #333;
            // border-color: white;
            color: white;
            border-radius: 0.5em;
            padding: 0.5em; 
        }
    
        .mxgs-control-button {
            height: 3em;
            width: 100%;
            border:none;
            background-image:none;
            background-color:transparent;
            box-shadow: none;
    
            // background: color($colors, darkprimary);
            background-color: #fff;
            // border-color: white;
            color: #333;
            border-radius: 1em;
            padding: 0.5em; 
        }
    
        .mxgs-control-label a {
            margin-top: 2em;
            color: #C9C9C9;
        }
    
    
        // .input, .text-input, ion-input{
        //     // background: red;
        //     border: 3em;
        //     border-color: red;
        // }
    
        // .text-input::-moz-placeholder
        // .text-input:-ms-input-placeholder,
        // .text-input::-webkit-input-placeholder,
        // .text-input::placeholder
        // input::placeholder
        // {
        //     // text-indent: 0;
        //     color: white;
        // }
    }
    