<!--
  Generated template for the BookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>

		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>

		<ion-title>Agendar Cita</ion-title>
	</ion-navbar>

</ion-header>

<ion-content padding>

	<ion-list>
		<ion-item >
			<ion-icon name="calendar"></ion-icon>
				Cita
			<ion-badge color="primary" item-end large>{{this?.appointment_obj?.fecha_moment || 'Sin fecha'}}</ion-badge>
		</ion-item>
		
		<ion-item *ngIf="this?.appointment_obj?.status=='cancelada'">
			<ion-icon name="pulse"></ion-icon>
				Status
			<ion-badge color="secondary" item-end>{{this?.appointment_obj?.status || 'Sin status'}}</ion-badge>
		</ion-item>
		<ion-item *ngIf="this?.appointment_obj?.status=='pendiente'">
			<ion-icon name="pulse"></ion-icon>
				Status
			<ion-badge color="active" item-end>{{this?.appointment_obj?.status || 'Sin status'}}</ion-badge>
		</ion-item>
		<ion-item *ngIf="this?.appointment_obj?.status=='terminada'">
				<ion-icon name="pulse"></ion-icon>
					Status
				<ion-badge color="danger" item-end>{{this?.appointment_obj?.status || 'Sin status'}}</ion-badge>
			</ion-item>
		<br>
		<form [formGroup]="myForm">

			<ion-row align-items-center>
				<ion-col col-xl-4 col-lg-4 col-md-3></ion-col>
				<ion-col col-12 col-xl-4 col-lg-4 col-md-6>
					<button no-lines ion-item (click)="openAppointmentDateChooser()">
						Agenda tu cita:
						<ion-note item-end style="color: black;">
							{{appointment || 'Sin fecha'}}
						</ion-note>
					</button>
				</ion-col>
				<ion-col col-xl-4 col-lg-4 col-md-3></ion-col>
			</ion-row>

			<ion-row align-items-center *ngIf="appointment">
				<ion-col col-xl-4 col-lg-4 col-md-3></ion-col>
				<ion-col col-12 col-xl-4 col-lg-4 col-md-6>
					<select formControlName="hour" class="mxgs-control-input">
						<option *ngFor="let h of hours" value="{{h}}">{{h}}</option>
					</select>
				</ion-col>
				<ion-col col-xl-4 col-lg-4 col-md-3></ion-col>
			</ion-row>


			<ion-row align-items-center>
				<ion-col col-xl-4 col-lg-4 col-md-3></ion-col>
				<ion-col col-12 col-xl-4 col-lg-4 col-md-6>
					<button class="mxgs-control-button" (click)="onRegister()" type="submit" color="light" block [disabled]="!appointment || !myForm.value.hour">Agendar</button>
				</ion-col>
				<ion-col col-xl-4 col-lg-4 col-md-3></ion-col>
			</ion-row>

			<!-- 
			<ion-row align-items-center>
				<ion-col col-xl-4 col-lg-4 col-md-3></ion-col>
				<ion-col col-12 col-xl-4 col-lg-4 col-md-6>
					<button ion-item (click)="onRegister()" type="submit" color="light" block>Registrarse</button>
				</ion-col>
				<ion-col col-xl-4 col-lg-4 col-md-3></ion-col>
			</ion-row> -->

		</form>

		<!--button ion-item (click)="openDateChooser()">
      <ion-label>
        Fecha
      </ion-label>
      <ion-note item-end>
        22 Noviembre
      </ion-note>
    </button>

    <button ion-item (click)="openTimeChooser()">
      <ion-label>
        Hora
      </ion-label>
      <ion-note item-end>
        05:30 PM
      </ion-note>
    </button>

   	<ion-item>
      <ion-label>Hora</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
    </ion-item> -->



	</ion-list>

</ion-content>