page-booking {
    .mxgs-control-input {
        height: 3em;
        width: 100%;
        border:none;
        background-image:none;
        background-color:transparent;
        box-shadow: none;

        // background: color($colors, darkprimary);
        background-color: #eee;
        // border-color: white;
        color: #333;
        border-radius: 0.5em;
        padding: 0.5em; 
    }

    .mxgs-control-button {
        height: 3em;
        width: 100%;
        border: none;
        background-image: none;
        background-color: transparent;
        box-shadow: none;

        // background: color($colors, darkprimary);
        background-color: #eee;
        // border-color: white;
        color: #333;
        border-radius: 1em;
        padding: 0.5em; 
    }


}
